{% extends "base.html" %}

{% block title %}
{% if topic %}
{{ topic[0] }}
{% else %}
E-Class
{% endif %}

{% endblock %}

{% block content %}
<div class="row">
    {% if topic %}
    <h2>{{ topic[1] }}</h2>
    <p>
        {{ topic[2] }}
    </p>
    {% else %}
    <h3>
        Invalid Article
    </h3>
    {% endif %}
</div>

{% if topic and session.get('user_id') != 0 %}
<div class="row mb-3">
    <div class="card-body">
        <a href="{{ url_for('topic.submit', id=topic[0]) }}" class="btn btn-success">Add Submission</a>
    </div>
</div>
{% endif %}

<div>
    <a href="{{ url_for('home') }}">Back</a>
</div>
{% endblock %}